{% extends 'medicines/base.html' %}
{% load highlight %}
{% block title %}Medicine Index | Medicine List{% endblock %}

{% block content %}
<div class="container">
    <div class="search-bar">
        <form method="get" action="">
            <input type="text" name="q" placeholder="Search by medicine or generic name" value="{{ query|default:'' }}">
            <button type="submit">Search</button>
        </form>
    </div>
    <div class="medicine-list">
        {% for medicine in medicines %}
            <div class="medicine-card">
                <div class="border p-3">
                    <h3 class="main-color">{{ medicine.name|highlight:query|safe }}</h3>
                    <p class="third-color"><strong class="second-color">Generic Name:</strong> {{ medicine.generic_name|highlight:query|safe }}</p>
                    <p class="third-color"><strong class="second-color">Manufacturer:</strong> {{ medicine.manufacturer }}</p>
                    <p class="third-color"><strong class="second-color">Price:</strong> ৳{{ medicine.price }}</p>
                    <p class="third-color"><strong class="second-color">Batch Number:</strong> {{ medicine.batch_number }}</p>
                </div>
                <p class="third-color border p-3 mt-2"><strong class="second-color" class="second-color">Description:</strong> {{ medicine.description }}</p>
                {% if user.is_authenticated %}
                    <a class="text-primary" href="{% url 'medicine_update' medicine.id %}">Update</a>
                    <a class="text-danger" href="{% url 'medicine_delete' medicine.id %}">Delete</a>
                {% endif %}
            </div>
        {% empty %}
            <p>No medicines found.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
